{% extends 'base.html' %}

<html>
<head>
    <title> courses</title>

</head>
<body>
{% block content %}
<style>
table{width:100%;text-align: center;}
td,th{padding-top: 6px;padding-bottom: 6px;}
tbody:nth-of-type(odd){background-color: wheat;color: white}
tbody:nth-of-type(even){background-color: red;color: white}
thead{background-color: red;color: white;}
body{background-color: cyan;}
</style>

<div class="container">
<div class="row">
    <div class="col-md-12">
        {% if courses %}
        <center><h1>available couses are</h1></center>
        <table border="2px">
            <thead>
            <tr>
                <th>course_id</th>
                <th>course_name</th>
                <th>courses_fee</th>
                <th>courses_duration</th>
                <th>start_date</th>
                <th>trainer_name</th>
                <th>trainer_exp</th>
            </tr>
            </thead>
            {% for i in courses %}
            <tbody>
            <tr>
                <td>{{ i.course_id }}</td>
                <td>{{ i.course_name }}</td>
                <td>{{ i.course_fee }}</td>
                <td>{{ i.course_duration }}</td>
                <td>{{ i.start_date }}</td>
                <td>{{ i.trainer_name }}</td>
                <td>{{ i.trainer_exp }}</td>

            </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <h1>no courses available</h1>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
</body>
</html>